<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 针对应用程序包的日志级别设置为DEBUG -->
    <logger name="top.dreamer" level="DEBUG" />

    <!-- 将root logger设置为WARN，覆盖所有其他的包，减少第三方库的日志输出 -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
